body {
    background-color: #e9e8e6;
    font-family: "Open Sans", sans-serif;
    color: #54565de9;
    text-align: center;
    margin-top:150px;
  }

h1{
 font-size: 50px;
}


p{
    margin-right: 10px;
}
