<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>focUS Download feed</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
    <!-- Favicons -->
    <link href="../static/assets/img/favicon-32x32.png" rel="icon"> 
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!--  Main CSS File -->
    <link href="..//static/assets/css/style.css" rel="stylesheet">
  
  </head>
  
  <body>

  <!--<script src="..//static/download_pdf.js"></script>-->
  <main id="main">
    <meta http-equiv="refresh" content="4; url=http://127.0.0.1:5000/">

    <!-- ======= Feed Details Section ======= -->
   <!-- 1-->
   <section id="feed-details" class="feed-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="feed-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/org pic 1.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/org pic 2.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/org pic 3.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="feed-info">
            <h3>Mayor's Office of Special Projects and Community Events</h3>
            <ul>
              <li><strong>Contact</strong>:&ensp;(212)-788-2569 <br> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;253 Broadway, 7th Floor, New York, NY 10007 
          </li>
              <li><strong>Organization website</strong>: <a href="https://www1.nyc.gov/site/mospce/index.page" target="_blank" rel="noopener noreferrer">www.nyc.gov/site/mospce</a></li>
              <br>
              <strong>About the organization</strong>
              <p>
                To honour the diverse communities of our City, the Mayor's Office of Special Projects and Community Events (MOSPCE) organizes, manages and directs Mayoral public ceremonies, celebrations and receptions, in partnership with the city agencies and support of the private sector. These special events are hosted at Gracie Mansion—also known as the People's House—and other iconic sites across the city. MOSPCE is associated with various communities within NYC including Asian-Americans Immigrants, refugees, LGBTQIA+, low-income populations, Military/ veteran families etc. 
              </p>
            </ul>
          </div>
          <div class="feed-description">

          </div>
        </div>

      </div>

    </div>
  </section><!-- End Feed Details Section -->

   <!-- 2-->
   <section id="feed-details" class="feed-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="feed-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/rainbow org pic 1.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/rainbow org pic 2.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/rainbow org pic 3.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="feed-info">
            <h3>Rainbow Heights Club</h3>
            <ul>
              <li><strong>Contact</strong>: &ensp;(718)-852-2584    <br> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;25 Elm Place, 6th Floor, Brooklyn, NY 11201 
          </li>
              <li><strong>Organization website</strong>: <a href="https://www.rainbowheights.org/" target="_blank" rel="noopener noreferrer">www.rainbowheights.org</a></li>
              <br>
              <strong>About the organization</strong>
              <p>
                Rainbow Heights Club is a drop-in space that offers peer support and advocacy for lesbian, gay, bisexual & transgenders living with mental illness. They are committed to creating a safe place for community members to socialize, access peer support and take a step forward on their recovery journey by sharing their experiences with staff and other community members who understand where they’re coming from and have faced similar challenges.
              </p>
            </ul>
          </div>
          <div class="feed-description">
            

          </div>
        </div>

      </div>

    </div>
  </section><!-- End Feed Details Section --> 

   <!-- 3-->
   <section id="feed-details" class="feed-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="feed-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/central org pic 1.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/central org pic 2.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/central org pic 3.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="feed-info">
            <h3>Central Park Conservancy</h3>
            <ul>
              <li><strong>Contact</strong>:&ensp; (212)-310-6600   <br> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;1 East 104th Street, New York, NY 10029
          </li>
              <li><strong>Organization website</strong>: <a href="https://www.centralparknyc.org/" target="_blank" rel="noopener noreferrer">www.centralparknyc.org</a></li>
              <br>
              <strong>About the organization</strong>
              <p>
                The Central Park Conservancy is a private, not-for-profit organization that manages Central Park under a contract with the New York City Department of Parks & Recreation. Thanks to the generosity of many individuals, corporations, foundations, and the City of New York, the Conservancy has invested more than $500 million to date into the park making it a model for urban parks worldwide. The Conservancy provides 85% of Central Park's $27 million annual operating budget and is responsible for all basic care of the park.
              </p>
            </ul>
          </div>
          <div class="feed-description">
            
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Feed Details Section -->


   <!-- 4-->
   <section id="feed-details" class="feed-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="feed-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/apple org pic 2.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/apple org pic 1.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/apple org pic 3.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="feed-info">
            <h3>Big Apple Greeter</h3>
            <ul>
              <li><strong>Contact</strong>: &ensp;Gail Morse [Director of Volunteers]  <br> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;(212) 669-2364   <br> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;1 Centre Street, Suite 2312, New York, NY 10007
          </li>
              <li><strong>Organization website</strong>: <a href="http://bigapplegreeter.org/" target="_blank" rel="noopener noreferrer">www.bigapplegreeter.org</a></li>
              <br>
              <strong>About the organization</strong>
              <p>
                Big Apple Greeter's mission is to enhance New York City's worldwide image and enrich the New York experience by connecting visitors with knowledgeable and enthusiastic volunteers. They promote a friendly, inviting, manageable image of New York City, bolster tourism and foster economic development and create opportunities for New Yorkers to show pride in their city and give back to their city through volunteering. It builds bridges between people and cultures and promotes cross-cultural understanding. Greeters welcome visitors from all over the world, and visitors go home with a better appreciation of the diversity of New Yorkers and all Americans.
              </p>
            </ul>
          </div>
          <div class="feed-description">
            

          </div>
        </div>

      </div>

    </div>
  </section><!-- End Feed Details Section -->

   <!-- 5-->
   <section id="feed-details" class="feed-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="feed-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/nyc org pic1.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/nyc org pic2.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="..//static/assets/img/portfolio/nyc org pic3.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="feed-info">
            <h3>New York City Department of Environmental Protection, Organizational Development and Human Resources</h3>
            <ul>
              <li><strong>Contact</strong>:&ensp;(212)-639-9675   <br> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;59–17 Junction Boulevard, 13th Floor, Flushing, <br> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;NY 11373
          </li>
              <li><strong>Organization website</strong>: <a href="https://www1.nyc.gov/site/dep/index.page" target="_blank" rel="noopener noreferrer">www.nyc.gov/site/dep</a></li>
              <br>
              <strong>About the organization</strong>
              <p>
                The New York City Department of Environmental Protection (DEP) is a city agency of nearly 6,000 employees whose primary responsibility is to manage the city’s water supply. DEP distributes more than one billion gallons of clean drinking water each day to nine million New Yorkers and treats over a billion gallons of wastewater daily at fourteen treatment facilities within the five boroughs. As the city agency responsible for New York City’s environment, DEP also regulates air quality, hazardous waste, and noise pollution.
              </p>
            </ul>
          </div>
          <div class="feed-description">

          </div>
        </div>

      </div>

    </div>
  </section><!-- End Feed Details Section -->
    
   


  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="..//static/download_pdf.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets//vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/"></script>

  <!--  Main JS Files -->
  <script src="../static/assets/js/main.js"></script>


</body>

</html>