<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>focUS Profile</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
    <!-- Favicons -->
    <link href="../static/assets/img/favicon-32x32.png" rel="icon"> 
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!--  Main CSS File -->
    <link href="..//static/assets/css/style.css" rel="stylesheet">
  </head>
  
  <body>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container-fluid d-flex justify-content-between align-items-center">
  
        <!--<h1 class="logo me-auto me-lg-0"><a href="index.html">Kelly</a></h1>*/-->
        <a href="http://127.0.0.1:5000/" class="logo"><img src="../static/assets/img/transparent_logo.png" alt="" class="img-fluid"></a>
  
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="active" href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/about">About Us</a></li>
            <li><a href="http://127.0.0.1:5000/profile">Profile</a></li>
            <li><a href="">Upcoming Events</a></li>
            <li><a href="http://127.0.0.1:5000/download">Download Feed</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
        <div class="header-social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
  
      </div>
  
    </header><!-- End Header -->

  <main id="main">

    <!-- ======= Profile Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

      <form action = "#" method = "post">   

        <div class="section-title">
          <h2>Profile</h2>
          <p9> We collect your age data to connect you with opportunities  suitable for your age demographic. </p9> <br>
          <p id="ageTitle"><br> How old are you?</p>
        </div>

        <div class="selContainer">
          <div class="select-box">
            <div class="options-container ">
              <div class="option">
                <input
                  type="radio"
                  class="radio"
                  name="category"
                  value="0"
                />
                <label for="Youth (17 and under)">Youth (17 and under)</label>
              </div>
    
              <div class="option">
                <input type="radio" class="radio" name="category" value="1"/>
                <label for="Adult (18-60)">Adult (18-60)</label>
              </div>
    
              <div class="option">
                <input type="radio" class="radio" name="category" value="2"  />
                <label for="Older Adult (60+)">Older Adult (60+)</label>
              </div>
            </div>
    
            <div class="selected">
              Select an age category
            </div>
          </div>
        </div>


        <p9> We collect your Borough data to connect you with opportunities closer to you. </p9> <br>
        <p2>Which georgraphical region would you like to volunteer in?</p2> <br>
        
      
        <div class="selContainer2">
          <div class="select-box2">
            <div class="options-container2 ">
              <div class="option2">
                <input
                  type="radio"
                  name="category1"
                  class="radio"
                  id="Bronx"
                  value="Bronx"
                />
                <label for="Bronx">Bronx</label>
              </div>
    
              <div class="option2">
                <input type="radio"  name="category1" class="radio" id="Brooklyn" value="Brooklyn" />
                <label for="Brooklyn">Brooklyn</label>
              </div>
    
              <div class="option2">
                <input type="radio"  name="category1" class="radio" id="Manhattan" value="Manhattan"  />
                <label for="Manhattan">Manhattan</label>
              </div>
    
              <div class="option2">
                <input type="radio"  name="category1" class="radio" id="Queens" value="Queens" />
                <label for="Queens">Queens</label>
              </div>
    
              <div class="option2">
                <input type="radio"  name="category1" class="radio" id="Staten Island" value="Staten Island" />
                <label for="Staten Island">Staten Island</label>
              </div>
            </div>
            <div class="selected2">
              Select a location
          </div>
          </div>
        </div>
      
        <p9> Your response to the questions about your interests is critical as we will be using this data to best understand your interests using our Natural Language Processing model. This would allow us to present you with organizations  that have shared interests. </p9> <br><br><br>
      <p10>
          Tell us about your interests! What are you most passionate about?  <br>
          What tasks do you see yourself doing as a volunteer? What is your previous volunteering experience? <br /> </p10>
          
           <br />
           <!-- <input type="text" ></input> -->
          <textarea rows = "15" cols = "60" name = "interest_bio" id = "interest_bio" required></textarea> 
          
        
          <br>
          <p9> Ranking your choices helps us further narrow down the search for volunteer organizations that are most suitable, based on your priorities. </p9> <br><br>
          <div class="optimize">
            
            
            <p6>Rank the following according to your priority regarding volunteer organizations: </p6> <br> <br>
            <p7>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Interests   </p7> 
            <br>
            <br>
            <ul class="likert">
                <li> First priority &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><input type="radio" name="one" value="Age Score" /></li>
                <li><input type="radio" name="one" value="Distance Org To User" /></li>
                <li><input type="radio" name="one" value="sims" /></li>
            </ul> 
            <br>

            <ul class="likert">
                <li>Second priority </li>
                <li><input type="radio" name="two" value="Age Score" /></li>
                <li><input type="radio" name="two" value="Distance Org To User" /></li>
                <li><input type="radio" name="two" value="sims" /></li>
            </ul> 

            <br>

            <ul class="likert">
                <li> Third Priority &nbsp;&nbsp;&nbsp;</li>
                <li><input type="radio" name="three" value="Age Score" /></li>
                <li><input type="radio" name="three" value="Distance Org To User" /></li>
                <li><input type="radio" name="three" value="sims" /></li>
            </ul>
        </div>

        <!-- SUBMIT BUTTON HERE FOR THE FORM -->
        <p12>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="submit" value="Save" class="btn btn-secondary btn-rounded"></p12>

      </form>
      <!-- onclick="goToInteralLink()"  
      <button id = "submitAll" type="button" class="btn btn-secondary btn-rounded">Save</button> -->

      <!-- TESTING -->
      <!-- <button id="myBtn">Try it</button> -->
      <p id="demo"></p>

      </div>



      </div>
    </section><!-- End Profile Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>focUS</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets//vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/"></script>

  <!--  Main JS Files -->
  <script src="../static/assets/js/main.js"></script>
  <script src="../static/select.js"></script>


</body>

</html>